# frontend
frontend/node_modules/
frontend/build/

# backend
backend/build/
backend/.gradle/
backend/bin/

# root
node_modules/
*.log
npm-debug.log*

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
.claude/
